@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ps-primary: #4a154b;
    --ps-primary-fg: #ffffff;
  }

  html, body, #root {
    @apply h-full;
  }

  body {
    @apply bg-zinc-50 text-zinc-900 antialiased dark:bg-zinc-950 dark:text-zinc-100;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Subtle scrollbar */
  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-300 dark:bg-zinc-700;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brand-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-zinc-950;
  }
}
